.gradle/
.kotlin
build/
out/

.idea/
*.iml
*.iws
*.ipr

*.kotlin_module

.kotlinc/
.cinterop/

local.properties
captures/
.externalNativeBuild/

iosApp/iosApp.xcodeproj/project.xcworkspace/
iosApp/iosApp.xcodeproj/xcuserdata/
iosApp/iosApp.xcodeproj/project.xcuserstate
iosApp/iosApp.xcworkspace/
DerivedData/
build/
*.xcuserstate
*.xcworkspace
*.xcconfig

.DS_Store
Thumbs.db

*.log

*.tmp
*.temp

kapt/

test-results/